.about-section {
  background-color: $about-section-background-color;
  padding: 24rem 0;
  margin-top: -20rem;
  > div.u-center-text {
    > h2.secondary-heading {
      @include secondary-heading;
      &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.4rem 1rem 2rem rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
  > div.row {
    > div {
      > h3.tertiary-heading {
        @include tertiary-heading;
      }
      > p.paragraph {
        @include paragraph;
      }
    }
  }
}
