.cards-section {
  @include card;
  &__top-container {
    display: flex;
    > div:first-child {
      flex: 0 0 65%;
    }
    > div.balances {
      flex-grow: 1;
    }
  }
  &__bottom-container {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    > div:first-child {
      flex: 0 0 65%;
    }
  }
  margin-bottom: 0.5rem;
}
