.dashboard {
  display: flex;
  padding: 5px;
  @include responsive(medium-bp) {
    flex-direction: column;
  }
  &__first-column {
    flex: 0 0 50%;
    margin-right: 0.5rem;
    @include responsive(large-bp) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include responsive(medium-bp) {
      margin-right: 0;
    }
  }
  &__second-column {
    flex-grow: 1;
  }
  &__second-column-horizontal-sections {
    display: flex;
    @include responsive(smallest-bp) {
      flex-direction: column;
    }
    > section.new-transaction-section {
      flex: 0 0 70%;
    }
    > div.loan-card {
      flex-grow: 1;
      @include responsive(smallest-bp) {
        height: 100px;
      }
    }
  }
}
