.goals-section {
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: .5rem;
  &__title-container {
    display: flex;
    align-items: center;
    > button.infinite-button {
      background-color: rgba(250, 189, 36, 0.856);
      border: none;
      border-radius: 25px;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      cursor: pointer;
      &:hover {
        animation: infinite-pulsation 1s infinite;
      }
    }
  }
  &__cards-container {
    display: flex;
    justify-content: space-around;
    > div.goal-card {
      flex: 0 0 31%
    }
  }
}
