.goals-section {
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: .5rem;
  &__title-container {
    display: flex;
    align-items: center;
  }
  &__cards-container {
    display: flex;
    justify-content: space-around;
    > div.goal-card {
      flex: 0 0 31%
    }
  }
}
