.header-container {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to left bottom,
      rgba($gradient-primary, 0.795),
      rgba($gradient-secondary, 0.795)
    ),
    url("./../assets/bitcoin.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  &__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    > img {
      height: 30px;
    }
  }
  &__heading-primary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    > span {
      display: block;
    }
    &__main {
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 4.2rem;
      animation-name: moveFromLeft;
      animation-duration: 1s;
    }
    &__secondary {
      font-size: 3.6rem;
      font-weight: 400;
      letter-spacing: 1.8rem;
      animation-name: moveFromRight;
      animation-duration: 1s;
    }
  }
}
