.new-transaction-section {
  @include card;
  &__avatars-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
  }
  &__avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 16%;
  }
  &__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    > * {
      margin-top: auto;
    }
  }
  &__user-photo {
    height: 3rem;
    border-radius: 50%;
  }
  &__actions-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    > button {
      border-radius: 15px;
      padding: 0 7px;
    }
  }
  &__number-input {
    border: 1.8px solid transparentize($color: blue, $amount: 0.7);
    height: 30px;
    border-radius: 0.5rem;
    margin-right: 5px;
    &:focus {
      outline: none;
      border: 1.8px solid transparentize($color: blue, $amount: 0.3);
    }
  }
}
