.dashboard {
    display: flex;
    padding: 5px;
    &__first-column {
        flex: 0 0 50%;
        margin-right: .5rem;
    }
    &__second-column {
        background-color: blue;
        flex-grow: 1;
    }
}