.orange-box-icon {
  background-color: rgb(255, 155, 118);
  fill: orangered;
}
.green-box-icon {
  background-color: rgb(178, 253, 159);
  fill: green;
}

.is-blue-filled {
  fill: blue;
}

.is-orange-filled {
  fill: orangered;
}

.is-green-filled {
  fill: green;
}
