.tertiary-box-icon {
  background-color: transparentize($color-tertiary, $amount: 0.8);
  fill: $color-tertiary;
}

.secondary-box-icon {
  background-color: transparentize($color-secondary, $amount: 0.8);
  fill: $color-secondary;
}

.primary-box-icon {
  background-color: transparentize($color-primary, $amount: 0.8);
  fill: $color-primary;
}

.disabled-box-icon {
  background-color: transparentize($color-disabled, $amount: 0.8);
  fill: $color-disabled;
}

.is-primary {
  fill: $color-primary;
}

.is-tertiary {
  fill: $color-tertiary;
}

.is-secondary {
  fill: $color-secondary;
}

.is-disabled {
  fill: $color-disabled;
}