.general-container {
    display: flex;
    > nav.sidebar {
        flex: 0 0 10%;
    }
    > main {
        flex-grow: 1;
    }
    @include responsive(large-bp) {
        flex-direction: column;
      }
}