// mixin created to manage responsive design
// desktop first approach
// width > 1200 px: normal styles
// width > 900 px: tablet landscape
// width > 600 px: tablet portrait
// width <= 600 px: mobile

@mixin responsive($breakpoint) {
  @if $breakpoint == smallest-bp {
    @media (max-width: 440px) {
      @content;
    }
  }
  @if $breakpoint == small-bp {
    @media (max-width: 530px) {
      @content;
    }
  }
  @if $breakpoint == medium-bp {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == large-bp {
    @media (max-width: 1050px) {
      @content;
    }
  }
  @if $breakpoint == largest-bp {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin card {
  border: 1px solid rgba(211, 211, 211, 0.301);
  padding: 10px;
  border-radius: 2rem;
  transition: all 0.5s;
  &:hover {
    box-shadow: 0 0.5rem 0.9rem 0.1rem rgba(211, 211, 211, 0.301);
    transform: translateY(-0.1rem);
  }
}
