// mixin created to manage responsive design
// desktop first approach
// width > 1200 px: normal styles
// width > 900 px: tablet landscape
// width > 600 px: tablet portrait
// width <= 600 px: mobile

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 850px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (max-width: 1024px) {
      @content;
    }
  }
}

@mixin card {
  border: 1px solid rgba(211, 211, 211, 0.301);
  padding: 10px;
  border-radius: 2rem;
  transition: all 0.5s;
  &:hover {
    box-shadow: 0 0.5rem 0.9rem 0.1rem rgba(211, 211, 211, 0.301);
    transform: translateY(-0.1rem);
  }
}
