.secondary-heading {
  font-size: 3.6rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $gradient-primary,
    $gradient-secondary
  );
  -webkit-background-clip: text;
  color: transparent;
}

.tertiary-heading {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.8rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
