.title {
  font-size: 2.4rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $gradient-primary,
    $gradient-secondary
  );
  -webkit-background-clip: text;
  color: transparent;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  
}

.info {
  font-size: 1rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
