$gradient-primary-light: rgba(24, 180, 231, 0.8);
$gradient-primary-dark: rgba(65, 65, 224, 0.8);
$gradient-tertiary-light: rgba(255, 68, 0, 0.8);
$gradient-tertiary-dark: rgba(255, 0, 0, 0.8);
$grid-width: 90vw;
$vertical-space: 16rem;
$horizontal-space: 12rem;
$about-section-background-color: rgba(211, 211, 211, 0.199);

//COLORS
$color-primary: blue;
$color-secondary: green;
$color-tertiary: orangered;
$color-card-title: #444;
$color-disabled: lightgray;