$gradient-primary: rgb(24, 180, 231);
$gradient-secondary: rgb(65, 65, 224);
$grid-width: 90vw;
$vertical-space: 16rem;
$horizontal-space: 12rem;
$about-section-background-color: rgba(211, 211, 211, 0.199);
$color-primary: rgb(65, 65, 224);
