.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.4s;
  }

  &:hover {
    background-color: $color-primary;
    color: white;
    box-shadow: 0 2rem 4rem rgba(black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 1rem 2rem rgba(black, 0.15);
    transform: translateY(0px);
  }
}

.infinite-button {
  background-color: rgba(250, 189, 36, 0.856);
  border: none;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
  &:hover {
    animation: infinite-pulsation 1s infinite;
  }
}
