.infinite-button {
  background-color: rgba(250, 189, 36, 0.856);
  border: none;
  cursor: pointer;
  &:hover {
    animation: infinite-pulsation 1s infinite;
  }
}

.add-button {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  margin-left: 5px;
  font-weight: bold;
}

.VueCarousel-navigation-button {
  color: $color-primary !important;
}