.loan-card {
  background-image: linear-gradient(
    to left bottom,
    $gradient-tertiary-light,
    $gradient-tertiary-dark
  ), url('~/assets/imgs/cloudcash.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include card;
  @include responsive (largest-bp){
    justify-content: center;
  }
  > p {
    color: white;
  }
  @include responsive(smallest-bp) {
    align-items: center;
    margin-top: 5px;
  }
}
