.table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    border-bottom: 1px solid lightgray;
    border-collapse: collapse;
    padding: 2px 0;
    flex-grow: 1;
  }
  > tr > th:last-child {
    text-align: right;
    font-weight: normal;
  }
  > tr > th:not(:last-child) {
    text-align: left;
    font-weight: normal;
  }
  > tr > td:last-child {
    text-align: right;
  }
  > tr > td:first-child {
    > div {
      margin-right: 3px;
      svg {
        width: 10px;
        height: 10px;
      }
    }
    > * {
      display: inline;
    }
  }
}
